body{
    margin: 20vh 5vw;
}
.container{
    display: flex;
}
img{
   height: 10vw;
   
   margin: 20px;
}
.item1 img{
    width: 100px;
}
.item2 img{
    width: 100px;
}
.item3 img{
    width: 100px;
}